@charset "utf-8";

* { outline: none; }
*[hidden] { display: none; }

DIV { display: block; }

/* HTML5 tags legacy support */
FOOTER, HEADER, ASIDE, ARTICLE, SECTION, NAV { display: block; }

BODY, HTML { height: 100% }

BODY
{
    margin: 0;
    padding: 0;
    font-family: "helvetica", "arial", sans-serif;
    background: url(images/games-bg.jpg) no-repeat 50% 0 fixed #142431;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 650px;
}

A { color: #01b2f1; text-decoration: none; }
A:hover { color: #FFFFFF; text-shadow: 0 0 8px white; }

.button { padding: 8px 12px; font-size: 11px; color: #FFF; background: #000; border-radius: 5px; cursor: pointer; margin-right: 10px; }
.button:hover { background: #0099FF; text-shadow: 0 0 8px white; }

IMG { vertical-align: middle; }

/* Skin-related styles */

BODY.riverrise { min-height: 680px; }

NAV A { margin-right: 3px; }

.master NAV
{
	background: #204066;
	font-size: 13px;
	padding: 4px 0 0 0;
}

.master NAV A
{
    color: #c5d5e2;
    display: block;
    padding: 6px 15px 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.master NAV A:hover { background: #173455; color: #fff; }

.master NAV A.active
{
    background: #fff;
    color: #0b5794;
    font-weight: bold;
    margin-top: 0;
    text-shadow: none;
}

.riverrise NAV
{
	background: url(images/navi.jpg) 50% 0 repeat-x #074053;
	border-radius: 5px;
	box-shadow: 0 4px 10px #000000;
	font-family: "Lato", "arial", serif;
	font-size: 13px;
	padding: 6px 7px;
	position: relative;
	text-shadow: -1px -1px 0 #000000;
    z-index: 1;
}

.riverrise NAV A
{
    border-radius: 5px;
    color: #D8ECF0;
    display: block;
    font-weight: 700;
    padding: 15px;
    text-shadow: 0 1px 1px #000000;
}

.riverrise NAV A.active, .riverrise NAV A:hover.active
{
    background: rgba(0, 0, 0, 0.298);
    box-shadow: 0 0 5px #000000 inset;
    color: #FFFFFF;
}

.riverrise NAV A:hover, .riverrise NAV A.menu_active
{
    background: rgba(0, 0, 0, 0.102);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.600) inset;
}

.header_bar
{
    background: #323232 url(images/user_navigation.png) repeat-x bottom;
    padding: 0;
    text-align: right;
    height: 36px;
}

.riverrise .header_bar { background: none; }

.header_bar .info
{
    color: white;
    display: inline-block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    margin-right: 15px;
    outline: none 0;
    padding: 0 12px;
}

.header_bar .info, .master .search_wrapper
{
    color: white;
    display: inline-block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    margin-right: 15px;
    outline: none 0;
    padding: 0 12px;
}

.master .search_wrapper
{
	background: #FFFFFF;
	border-radius: 3px 4px 4px 3px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.196);
	height: 26px;
	line-height: 25px;
	min-width: 230px;
	padding: 0 5px 0 4px;
	position: relative;
	margin-top: 5px;
}

.master .search_wrapper #search
{
	background: transparent;
	border: 0 none currentColor;
	font-size: 12px;
	outline: 0 none currentColor;
	padding: 0;
	width: 230px;
}

.master .search_wrapper INPUT[type=submit]
{
	background: url(images/master_search_icon.png) 50% 50% no-repeat #7BA60D;
	border: 1px solid #7BA60D;
	border-radius: 0px 3px 3px 0px;
	bottom: 0px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.196);
	display: block;
	height: 26px;
	padding: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 26px;
	cursor: pointer;
}

.header_bar .info.user { float: right; position: relative; min-width: 70px; }
.riverrise .info.user, .riverrise .main_width .search_wrapper
{
    position: relative;
    top: 46px;
    background: url(images/topbar_sprite.png) no-repeat 0 10% rgba(0, 0, 0, 0.600);
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.600) inset;
    font-size: 11px;
    padding-right: 20px;
	margin: 0;
	float: right;
}

.riverrise .main_width .search_wrapper
{
	height: 36px;
	margin-right: 15px;
	padding: 0 10px 0 10px;
	color: rgb(255, 255, 255);
	background-position: 0 90%;
	line-height: 36px;
	width: 226px;
}

.riverrise .main_width .search_wrapper INPUT { background: none; border: none; position: absolute; top: 9px; margin: 0; }
.riverrise .main_width .search_wrapper INPUT[type=text] { width: 200px; color: white; left: 10px; }
.riverrise .main_width .search_wrapper INPUT[type=submit]
{
	background: url(images/search_icon.png) 50% 50% no-repeat transparent;
	width: 26px;
	cursor: pointer;
	left: 210px;
}

.search_dropdown
{
	color: white;
	margin: 100px 0 0 0 ;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	box-shadow: 0 3px 10px 0 #000000;
	position: absolute;
	z-index: 9;
	font-size: 12px;
	max-width: 416px;
	display: none;
	max-height: 440px;
	background-color: rgb(0, 17, 24);
}

.search_dropdown SECTION
{
	text-align: right;
	height: 60px;
	width: 396px;
	padding: 10px;
	background: url(images/search_dropdown.jpg) no-repeat top center;
	cursor: pointer;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
}
.search_dropdown SECTION:hover { background-position: bottom center; }
.search_dropdown SECTION:hover A { color: #FFFFFF; text-shadow: 0 0 8px white; }
.search_dropdown SECTION P { text-align: left; color: #8CB0BB; }
.search_dropdown SECTION:hover P { text-shadow: none; }
.search_dropdown .all_search_results { text-align: center; height: 40px; }
.search_dropdown .all_search_results A { line-height: 40px; }

.master .search_dropdown { margin-top: 40px; }

.info.user .spacer { font-size: 13px; padding: 0 5px 0 5px; }

.header_bar .info.small_info { float: left; }
.header_bar .info.small_info A { color: white; }

.master .branding
{
    background-clip: border-box;
    background: rgb(15, 56, 84) url(images/branding_bg_master.png) repeat-x scroll 0 100%;
    background-origin: padding-box;
    background-size: auto;
    border-bottom: 1px solid rgb(27, 55, 89);
    min-height: 64px;
}

.riverrise .branding { height: 200px; }

.riverrise HEADER { background: url(images/header_bg.jpg) 50% 0 no-repeat black; min-width: 990px; }

.logo { display: inline; }
.riverrise .logo { position: absolute; margin-left: -256px; }

.branding, .header_bar, NAV { min-width: 980px; }

.main_width
{
    margin: 0 auto;
    min-width: 960px;
    width: 87% !important;
}

.main_width.center { text-align: center; }

.riverrise .branding .main_width { width: 90% !important; }

.nav_buttons LI { margin-bottom: 1px; }

/* Main structure styles */

.wrapper
{
    margin: 0 auto 0;
    width: 990px;
}

.nav_buttons
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.left { float: left; }
.right { float: right; }

ASIDE { float: left; width: 159px; margin-top: 126px; }
.search ASIDE { margin-top: 250px; }
.right_column { float: left; width: 820px; margin-top: 81px; }

.news .right_column { float: none; margin: 81px auto auto; }

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nbutton
{
    position: relative;
    width: 159px;
    height: 42px;
    text-align: center;
    display: block;
    box-shadow: 0 0 15px black;
    background: url(images/nbuttons_rus.png) no-repeat #005169;
    cursor: default;
}

.nbutton:hover, .nbutton.active { background-color: #05acdc; }

.nbutton.main                               { border-radius: 5px 0 0 0; z-index: 5; }
.nbutton.main:hover, .nbutton.main.active   { background-position: 0 -210px; }
.nbutton.main.active                        { margin-left: 10px; }
.nbutton.news                               { z-index: 4; background-position: 0 -42px; }
.nbutton.news:hover , .nbutton.news.active  { background-position: 0 -252px; }
.nbutton.news.active                        { margin-left: 10px; }
.nbutton.stats                              { z-index: 3; background-position: 0 -84px; }
.nbutton.stats:hover, .nbutton.stats.active { background-position: 0 -294px; }
.nbutton.stats.active                       { margin-left: 10px; }
.nbutton.rules                              { z-index: 2; background-position: 0 -126px; }
.nbutton.rules:hover, .nbutton.rules.active { background-position: 0 -336px; }
.nbutton.rules.active                       { margin-left: 10px; }
.nbutton.tools                              { border-radius: 0 0 0 5px; z-index: 1; background-position: 0 -168px; }
.nbutton.tools:hover, .nbutton.tools.active { background-position: 0 -378px; }
.nbutton.tools.active                       { margin-left: 10px; }


.content { min-height: 90%; }

.middle_plate .content { min-height: 100%; margin: 0 auto 50px; }
.banner_link { float: left; position: absolute; width: 820px; }
.news .banner_link { margin: auto; width: 990px; float: none; }
.top_banner { cursor: pointer; height: 81px; width: 361px; margin: auto; background-image: url(images/transfer-banner.png); }

.lighter_fast { opacity: 0.7; }

.standardbox { border-radius: 5px; box-shadow: 0 2px 10px black; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; position: relative; z-index: 6; margin-bottom: 30px; max-width: 820px; }
.standardbox ARTICLE { z-index: 10; position: relative; font-size: 11px; clear: both; padding: 11px 15px 15px 15px; color: #5d91a3; width: 760px; min-height: 200px; }
.standardbox ARTICLE.error404 { background: url(images/404.png) center no-repeat; text-align: center; }
.standardbox.search ARTICLE { min-height: 0; }
.standardbox ARTICLE .statbox { position: absolute; z-index: 8; background: url(images/statbox-bg.png); width: 750px; height: 100px; line-height: 15px; }
.standardbox ARTICLE .statbox .state { background: url(images/status.png) no-repeat; margin: 6px 7px 0 0; float: right; width: 28px; height: 28px; }
.standardbox ARTICLE .statbox .state.online { background-position: top center; }
.standardbox ARTICLE .statbox .state.offline { background-position: bottom center; }
.standardbox ARTICLE .statbox .realmname.x4 { background: url(images/stats_x4.png); }
.standardbox ARTICLE .statbox .realmname.x1 { background: url(images/stats_x1.png); }
.standardbox ARTICLE .statbox .realmname.x2 { background: url(images/stats_x2.png); }
.standardbox ARTICLE .statbox .realmname.x100 { background: url(images/stats_x100.png); }
.standardbox ARTICLE .statbox .realmname.fun { background: url(images/stats_at.png); }
.standardbox ARTICLE .statbox .realmname { float: left; width: 138px; height: 75px; margin: 16px 0 0 15px; background-position: top center; }
.standardbox ARTICLE .statbox .realmname:hover { cursor: pointer; background-position: bottom center; }
.standardbox ARTICLE .statbox .stats { display: block; position: absolute; float: left; margin: 30px 0 0 165px; font-size: 12px; color: #50B8DA; width: 585px; }
.standardbox ARTICLE IMG { display: block; border-radius: 0px 0px 5px 5px; box-shadow: 0px 2px 5px black; }
.standardbox ARTICLE IMG.thumb { display: inline-block; border: 1px solid black; border-radius: 5px; box-shadow: 0 0 10px black; }
.standardbox ARTICLE IMG.inline { display: inline-block; width: 200px; }
.standardbox ARTICLE .body { display: inline-block; vertical-align: top; }
.standardbox ARTICLE .body.left, .standardbox ARTICLE .body.right { max-width: 538px; float: none; }
.standardbox ARTICLE .body.left { margin-right: 20px; min-width: 538px; }
.standardbox ARTICLE .body.right { margin-left: 20px; }
.standardbox .topbar { height: 44px; width: 100%; }
.standardbox .topbar .leftcorner { width: 6px; height: 44px; background: url(images/box-corn.png) #074053; float: left; border-radius: 5px 0 0 0; }
.standardbox .topbar .rightcorner { width: 6px; height: 44px; background: url(images/box-coro.png) #074053; float: right; border-radius: 0 5px 0 0; }
.standardbox .topbar .title { display: inline-block; line-height: 44px; font-size: 14px; margin: 0; font-weight: normal; color: #50B8DA; text-transform: uppercase; padding: 0 0 0 21px; height: 44px; position:relative; text-shadow: 0 0 8px #0091ff; }
.standardbox .topbar .title .longertextposition {position: absolute; width: 200px; height: 50px;}
.standardbox .topbar .title.breadcrumb { margin-top: 6px; text-transform: none; text-shadow: none; }
.standardbox .topbar .middle { background: url(images/box-top.jpg) #074053; margin: 0 6px 0 6px; }
.standardbox .topbar .middle A:hover H2 { color: #FFFFFF; text-shadow: 0 0 8px white; }
.standardbox .topbar .middle .rightfade {height: 44px; width: 100px; background: url(images/box-top-.png); float: right;}
.standardbox .topbar .date {display: inline-block; height: 44px; line-height: 44px; float: right; font-size: 11px; color: #5D91A3;}
.standardbox .middlebar { background:url(images/box-body.gif) repeat-x #001821; min-height: 100px; }
.standardbox.search .middlebar { min-height: 0; }
.standardbox .middlebar .backgroundhex
{
    position: absolute;
    left: 0;
    z-index: 9;
    background-repeat: no-repeat;
    opacity: 0.0;
    transition-delay: 0s;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    -moz-transition-delay: 0s; /* Firefox 4 */
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    -webkit-transition-delay: 0s; /* Safari and Chrome */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    -o-transition-delay: 0s; /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
.standardbox .middlebar .backgroundhex.main
{
    width: 150px;
    height: 106px;
    top: 45px;
    background: url(images/hex_main.png);
}
.standardbox .middlebar .backgroundhex.news
{
    width: 181px;
    height: 209px;
    top: 69px;
    background: url(images/hex_news.png);
}
.standardbox .middlebar .backgroundhex.stats
{
    width: 127px;
    height: 141px;
    top: 48px;
    background: url(images/hex_stats.png);
}
.standardbox .middlebar .backgroundhex.rules
{
    width: 169px;
    height: 79px;
    top: 168px;
    background: url(images/hex_rules.png);
}
.standardbox .middlebar .backgroundhex.tools
{
    width: 157px;
    height: 111px;
    top: 161px;
    background: url(images/hex_tools.png);
}
.standardbox .middlebar .backgroundtwo { background: url(images/box-bg-two.gif) top center no-repeat; }
.standardbox .middlebar .backgroundthree { background: url(images/box-bg-t.gif) top center no-repeat; }
.standardbox .middlebar .backgroundthree .line .box1 { width: 327px;  float: left; }
.standardbox .middlebar .backgroundthree .line .box2 { width: 326px;  float: left; }
.standardbox .middlebar .backgroundthree .line .box3 { width: 327px;  float: left; }
.standardbox .middlebar .backgroundthreelines { background: url(images/box-bg-u.gif) no-repeat top center; }
.standardbox .middlebar .backgroundfour { background: url(images/box-bg-f.gif) no-repeat top center; }
.standardbox .bottombar .middle { position: relative; height: 6px; background: url(images/box-shad.gif) repeat-x #001821; margin: 0 6px 0 6px; }
.standardbox .bottombar .leftcorner { border-radius: 0 0 0 5px; position: absolute; top: 0; left: -6px; width: 6px; height: 6px; background: url(images/box-corp.png) #001821; }
.standardbox .bottombar .rightcorner { border-radius: 0 0 5px 0; position: absolute; top: 0; right: -6px; width: 6px; height: 6px; background: url(images/box-corq.png) #001821; }

.standardbox .bottombar .middle .backgroundtwo { width: 100%; height: 6px; background: url(images/box-bg-two.gif) no-repeat bottom center; }
.standardbox .bottombar .middle .backgroundthree { width: 100%; height: 6px; background: url(images/box-bg-t.gif) no-repeat bottom center; }
.standardbox .bottombar .middle .backgroundthreelines { width: 100%; height: 6px; background: url(images/box-bg-u.gif) no-repeat bottom center; }
.standardbox .bottombar .middle .backgroundfour { width: 100%; height: 6px; background: url(images/box-bg-f.gif) no-repeat bottom center; }
.standardbox .shadowbar { height: 25px; display: none; }
.standardbox .shadowbar .shadow { width: 800px; height: 25px; background: url(images/box-shad.png); margin: 0 auto; }
.standardbox .middlebar .line { clear: both; margin: 0 21px 0 14px; }

.standardbox .article_bottom.error404 { text-align: center; }

.standardbox .article_bottom
{
    font-size: 11px;
    height: 20px;
    line-height: 10px;
	color: #5D91A3;
}

.standardbox .article_bottom .news_cut { float: right; background: url(images/arrow_sm.png) 100% 0 no-repeat; padding-right: 10px; }

.content_loader
{
	display: table;
	background: url(images/loader_bar.png) no-repeat;
	height: 46px;
	width: 816px;
	border-radius: 6px;
	box-shadow: 0 2px 10px black;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	float: right;
	margin-right: 12px;
}
.content_loader > A, .pagination { vertical-align: middle; display: table-cell; }
.content_loader > A.bar { height: 11px; width: 43px; background: url(images/loading.gif) 50% 50% no-repeat; content: ""; }
.pagination { color: white; }

FOOTER { clear: both; height: 90px; margin: 0; width: 980px; }
FOOTER .logo-core { width: 108px; height: 58px; background: url(images/core.png) no-repeat; display: block; float: left; }
FOOTER .logo-wm { width: 108px; height: 58px; background: url(images/logo-wm.png) no-repeat; display: block; float: right; }
FOOTER .logo-attestat { width: 108px; height: 58px; background: url(images/logo-att.png) no-repeat; display: block; float: right; }
FOOTER .logo-dev { width: 108px; height: 58px; background: url(images/logo-dev.png) no-repeat; display: block; float: right; }
FOOTER .ban-dev { float: left; -webkit-filter: hue-rotate(120deg); height: 58px; }
FOOTER SECTION { width: 100%; clear: none; height: 60px; color: #FFF; font-size: 11px; text-align: center; }
FOOTER SECTION .spacer { color: #012839; font-size: 13px; padding: 0 5px 0 5px; }
FOOTER SECTION .links { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; line-height: 14px; display:inline; }
FOOTER SECTION .dark { text-shadow: 0 0 8px black; color: gray; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; line-height: 14px; margin: 0; }

/*Blocks styles*/

.middle_plate
{
    background-clip: border-box;
    background-origin: padding-box;
    background: rgb(1, 14, 22) url(images/bg-subpage.jpg) no-repeat scroll 50% 0;
    background-size: auto;
    min-width: 990px;
    margin: 445px 0 0;
    padding: 0;
    min-height: 100%;
}

.middle_placeholder { min-height: 250px; }

.text INPUT
{
    background-clip: border-box;
    background-origin: padding-box;
    background: transparent no-repeat scroll 0 0;
    padding-bottom: 0;
    padding-top: 0;
    border: medium none currentColor;
    outline: none medium;
    height: 32px;
    color: rgb(130, 184, 203);
}

.breadcrumb
{
    font-family: "Arial", "Helvetica", sans-serif, sans-serif;
    font-size: 11px;
    padding: 30px 0 40px;
}

.breadcrumb H2 {font-size: 11px; font-weight: normal; line-height: 32px; margin: 0;}

.breadcrumb .left
{
    background-clip: border-box;
    background-origin: padding-box;
    background: #001821 url(images/subpagepath-bgl.gif) no-repeat scroll 0 0;
    float: left;
    height: 32px;
    width: 8px;
	border-radius: 5px 0 0 5px;
}

.breadcrumb .right
{
    background-clip: border-box;
    background-origin: padding-box;
    background: #001821 url(images/subpagepath-bgr.gif) no-repeat scroll 0 0;
    float: left;
    height: 32px;
    width: 8px;
	border-radius: 0 5px 5px 0;
}

.breadcrumb .center
{
    background-clip: border-box;
    background-origin: padding-box;
    background: #001821 url(images/subpagepath-bg.gif) repeat-x scroll 0 0;
    display: block;
    float: left;
    height: 32px;
}

.breadcrumb .center .ref .contents_i { float: left; font-size: 11px; height: 32px; line-height: 32px; padding: 0; }

.breadcrumb .center .ref
{
    background-clip: border-box;
    background-origin: padding-box;
    background: transparent url(images/subpagepath-bgm.gif) no-repeat scroll 100% 0;
    background-size: auto;
    display: block;
    float: left;
    height: 32px;
}

.breadcrumb .center .ref .contents
{
    float: left;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    padding: 0 20px 0 18px;
}

.breadcrumb .center .ref .contents .text { color: rgb(130, 184, 203); display: block; float: left; }
.breadcrumb .center .ref .contents .link { display: block; float: left; }

.breadcrumb .arrowsm
{
    background-clip: border-box;
    background-origin: padding-box;
    background: transparent url(images/arrow_sm.png) no-repeat scroll 0 0;
    background-size: auto;
    display: block;
    float: left;
    height: 11px;
    margin: 11px 10px 0;
    width: 6px;
}

.wrapper .content { color: rgb(130, 184, 203); font-size: 12px; padding: 20px; }
.wrapper .content .sub { padding-left: 40px; }
.wrapper .content h2 { color: #afdef9; text-align: center; }
.wrapper .content .sub ul { list-style-type: none; }
.wrapper .content ul, .wrapper .content .sub_ { line-height: 1.8em; }
.wrapper .content ul, .wrapper .content .sub_ ul { display: block; list-style: disc outside; padding-left: 40px; }

.about_logo { width: 200px; height: 32px; background-image: url(images/about_logo.png); }
.about_thx { margin-top: 50px; width: 300px; height: 32px; background-image: url(images/about_thx.png); }
.about_tool { background-image: url(images/about_tool.png); width: 400px; height: 240px; float: right; }
.about_stats { background-image: url(images/about_stats.png); width: 400px; height: 184px; float: left; margin-left: -50px; }
.about_mail { background-image: url(images/about_mail.png); width: 450px; height: 144px; float: right; }
.about_header { background-image: url(images/about_header.png); width: 450px; height: 136px; float: left; margin-left: -50px; }

.about_p_core { width: 180px; height: 32px; background-image: url(images/about_p_core.png); }

#blackout
{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#000000',GradientType=1 );
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9001;
    display: none;
}

.embed_login { margin-left: -5px; }

#loginbox
{
    height: 475px;
    width: 458px;
    position: fixed;
    z-index: 9002;
    top: 20%;
    margin-left: -500px;
    display: none;
    border: none;
}

#loginbox input { color: #BABABA; padding-top: 0; padding-bottom: 0; }
#loginbox .input_default { background: url(images/input.png) top center no-repeat; padding-left: 4px; padding-right: 4px; width: 258px; height: 33px; line-height: 30px; border: 0 none; font-size: 16px; text-align: center;}
#loginbox .input_default:focus {color: #7097b5; background: url(images/input.png) bottom center no-repeat;}
#loginbox .input_default:hover {color: #7097b5; background: url(images/input.png) bottom center no-repeat;}

#loginbox .login_inputs {margin: 0 auto; width: 265px;}
#loginbox .login_inputs {margin: 0 auto; width: 265px;}

.login_errors_box { height: 85px; width: 450px; color: #7097B5; z-index: 9003; position: fixed; display: none; }
.login_errors { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); border: 1px solid #172936; background-color: #4a5868; background-image: -o-linear-gradient(#335a77, #091d2c); background-image: -ms-linear-gradient(#335a77, #091d2c); background-image: -moz-linear-gradient(#335a77, #091d2c); background-image: -webkit-linear-gradient(#335a77, #091d2c); width: 430px; padding: 10px; border-radius: 8px; font-size: 13px; behavior: url(templates/main/PIE.htc); }
.login_errors UL { list-style-type: none; background-color: rgba(0, 0, 0, 0.3); box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); border-radius: 5px; padding: 10px; font-size: 12px; }

.scroll_manager
{
	width: 100%;
	height: 20px;
	background-color: rgba(93, 145, 163, 0.4);
	background-image: url(images/to_top_bar_tile.png);
	background-repeat: repeat-x;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-top: 1px dashed rgb(93, 145, 163);
	position: fixed;
	bottom: 0;
	z-index: 99999;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #91E4FF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	opacity: 0.3;
	cursor: pointer;
}

.scroll_manager #to_bottom { display: none; }

/* Comments */
.new_comment_header {color: #50B8DA; font-size: 14px; display: block; margin-bottom: 5px;}
.comment
{
	border-radius: 5px;
	border-top: 1px solid #0087B3;
	background: rgb(0,69,95);
	background: -moz-linear-gradient(top,  rgba(0,69,95,1) 0%, rgba(0,48,64,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,69,95,1)), color-stop(100%,rgba(0,48,64,1)));
	background: -webkit-linear-gradient(top,  rgba(0,69,95,1) 0%,rgba(0,48,64,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,69,95,1) 0%,rgba(0,48,64,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,69,95,1) 0%,rgba(0,48,64,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,69,95,1) 0%,rgba(0,48,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00455f', endColorstr='#003040',GradientType=0 );
	padding: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}
.comment.reply {margin-left: 50px;}
.comment .header {border-bottom: 1px dotted; color: #50B8DA; text-shadow: 0 1px 1px black;}
.comment .header A {transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
.comment .header H3 {margin: 0; font-size: 14px; color: #50B8DA; display: inline; cursor: pointer;}
.comment .header .subject {font-size: 12px; margin-left: 5px;}
.comment .header .subject_clear {font-size: 14px; font-weight: 600; margin-left: 5px; cursor: pointer;}
.comment .header .subject_clear:hover {color: #FFFFFF; text-shadow: 0 0 8px white;}
.comment .header DATE {font-size: 10px; float: right;}
.comment .body {font-size: 12px; color: #50B8DA; margin-top: 5px;}
.comment .body.editor {margin-top: 10px;}
.comment .body.editor[contenteditable="true"]
{
	background-color: #A3C3CC;
	border-radius: 0px 0px 5px 5px;
	box-shadow: inset 0px 1px 3px #4F4F4F, 0px 0px 8px rgba(82, 168, 236, 0.600);
	color: #1C424D;
	min-height: 50px;
	overflow-wrap: break-word;
	overflow-y: auto;
	padding: 6px 8px 5px;
	transition: background 0.1s ease;
	-webkit-transition: background 0.1s ease;
	-moz-transition: background 0.1s ease;
	-o-transition: background 0.1s ease;
}
.comment .body.editor:focus
{
	background-color: white;
}
.comment .body.editor P {margin: 0;}

#progressbar {display: none;}
.loading_text {text-align: center; color: #50B8DA;}
.loading {background: url('images/loading.gif') center center no-repeat; height: 50px;}

.core_logo
{
	background-image: url(images/corelogo.png);
	display: block;
	height: 200px;
	position: absolute;
	top: 0;
	width: 1000px;
}

.tweeter_container
{
	border-radius: 5px;
	box-shadow: 0px 0px 10px black;
	float: right;
	height: 286px;
}
